@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.Todo{
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  color: whitesmoke;
  text-align: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 6px;
  margin-right: 6px;
}


html{
    background-color: #222831;
}

.ButtonEdit{
    width: 200px;
    margin-bottom: 10px;
}

.Items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.IndButton{
    position: absolute;
    left: 185px;
    top: -7px;
}

.IndCard{
    position: relative;
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.Icon{
    margin-left: 20px;
}

.NavCol{
    margin-right: 20px;
}

.NavbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.NavbarList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.NavItem{
    margin-right: 20px;
}